{% extends 'home/base.html' %}

{% block body %}

    {% include 'home/top_image_container.html' %}


    <div class="mid_home_container">

        <div>

            <h3>Velkommen til oss</h3>
            <hr style="border-color: rgba(63,65,70,0.54); border-width: 0.5px">
            <p>Hyggelige lokaler med god atmosfære</p>
            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>

        </div>

        <div>

            <h3>Tilbud</h3>
            <hr style="border-color: rgba(63,65,70,0.54); border-width: 0.5px">
            <p>Vi tilbyr det nyeste innen kjeveortopedi for barn, ungdom og voksne.</p>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </div>

        <div>
            <h3>Prosess</h3>
            <hr style="border-color: rgba(63,65,70,0.54); border-width: 0.5px">
            <p>Vi tar imot nye pasienter og har kort ventetid</p>
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        </div>

    </div>


    <hr width="95%" style="border-color: rgba(63,65,70,0.54); border-width: 0.5px">

    <hr width="95%" style="border-color: rgba(63,65,70,0.54); border-width: 0.5px">

    <div class="bottom_home_container">

        <div>
            <a href="http://www.kjeveortopediskforening.no/">
                <img src="../../static/home/NKF_2.png">
            </a>

        </div>

        <div>
            <a href="http://www.tannlegeforeningen.no/">
                <img src="../../static/home/DNF_2_T.png">
            </a>
        </div>

        <div>
            <a href="https://damonbraces.com/">

                <img src="../../static/home/DM.png">
            </a>
        </div>

        <div>
            <a href="https://www.invisalign.no/">
                <img src="../../static/home/Inv_al.png">
            </a>
        </div>

    </div>

    <br>
    <br>

    <hr width="95%" style="border-color: rgba(63,65,70,0.54); border-width: 0.5px">

    <hr width="95%" style="border-color: rgba(63,65,70,0.54); border-width: 0.5px">

{% endblock %}