<div class="top_image_container">

    <div>
        {% if view.id == 5 %}

            <img src="../../static/home/Tooth.svg">

        {% elif view.id == 0 %}

            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>

        {% elif view.id == 1 %}
            <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>

        {% elif view.id == 2 %}

            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        {% elif view.id == 3 %}

            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        {% elif view.id == 4 %}

            <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
        {% endif %}

    </div>


    <h2 id="front_title">{{ query_set.0 }}</h2>

    {% if view.id == 5 %}

        <p id="front_subtitle">MNTF - SPESIALISTER I KJEVEORTOPEDI</p>
    {% endif %}

    <img src="../../static/home/Background_3.png">

</div>