{% extends 'home/base.html' %}

{% block body %}

        {% include 'home/top_image_container.html' %}

        {% if view.id == 0 %}

            <div class="treatment_content_div">

                <div>

                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    <h4>Generell praktisk info</h4>

                </div>

                <div>
                     <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
                     <h4>Fastsittende regulering</h4>
                </div>

                <div>
                     <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                     <h4>Retensjon</h4>
                </div>

                <div>
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                     <h4>Ganeplate</h4>
                 </div>

                <div>
                    <span class="glyphicon glyphicon-magnet" aria-hidden="true"></span>
                     <h4>Nattbøyle</h4>
                </div>

                <div>
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                     <h4>Vekstplate</h4>
                </div>


            </div>

        {% endif %}

    </div>

    {% block content %}
    {% endblock %}

{% endblock %}