{% extends 'home/base.html' %}

{% block body %}

    <!--
    <div class="treatment-content">


        <div class="vertical_menu_treatment">

            <a href="{% url 'home:fastsittende' %}"
                {% if view.id == 5 %}
                    class="active"
                {% endif %} >
                <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Fastsittende regulering</a>

            <a href="{% url 'home:retensjon' %}"
                {% if view.id == 6 %}
                    class="active"
                {% endif %} >
                <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Retensjon</a>
            <a href="{% url 'home:ganeplate' %}"
                {% if view.id == 7 %}
                    class="active"
                {% endif %} >
                <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Ganeplate</a>
            <a href="{% url 'home:nattboyle' %}"
                {% if view.id == 8 %}
                   class="active"
                {% endif %} >
                <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Nattbøyle</a>
            <a href="{% url 'home:vekstplate' %}"
                {% if view.id == 9 %}
                    class="active"
                {% endif %} >
                <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Vekstplate</a>


        </div>
        -->


        {% if view.id == 0 %}

            <div class="treatment_content_div">

                <div class="div_1">


                </div>

                <div class="div_2">

                </div>

                <div class="div_3">

                </div>

                <div class="div_4">

                 </div>

                <div class="div_5">

                </div>


            </div>

        {% endif %}

    </div>

    {% block content %}
    {% endblock %}

{% endblock %}