body {

    opacity: 0.8;
    font-family: "Arial Rounded MT Bold";
    font-weight: 100;
}

.top-container {

    margin: 0;
    padding:0;
    position: relative;


}


/*.top-container img {


    z-index: -1;
    width: 100%;
    border-bottom: solid;
    border-width: 0.5px;
    border-bottom-color: #79aec8;
    padding: 0;
    margin: 0;
}
*/
.content_div {

    margin: 0;
    padding: 0;

}


.navbar {

    border-bottom-color: #7aa2a5;
    position:relative;
    padding: 0;
    margin: 0;
    background-color: #CEEAF8;
     /*box-shadow: 0px 1px 8px -2px #000000;*/
}

/*
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}*/

.active {

    /*background-color: #bab39d;*/
    /*background-color: rgba(71, 80, 92, 0.6);*/
    color: #020202;
    opacity: 1.0;
    background-color: rgba(153, 127, 136, 0.36);

}

.navbar-nav a {

    color: black;
    opacity: 0.7;

}

.navbar-nav a:active {

    border-radius: 10px;
    color: black;


}

#company_header {

    margin-top: 0;
    margin-left: 1px;
    padding: 0;
    height: 50px;
    width: auto;
}


.notActive {

    color: transparent;
}

.activeText {

    color: #ba4823;
}

.top_image_container {

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 2px 8px -2px #000000;
    margin: 0;
    padding: 0;
}

.top_image_container img {

    width: 100%;
    height: 100%;
    z-index: -1;

}

.top_image_container h2 {

    margin-top: 6.5%;
    position: absolute;
    opacity: 0.9;
    font-size: 38px;
    font-family: Copperplate;

}

.top_image_container div {
    position: absolute;
    font-size: 130px;
    margin-top: -3.5%;
    opacity: 0.9;
    /*border-style: solid;
    border-width: 2px;
    border-radius: 75px;*/

    display: flex;
    justify-content: center;
    align-items: center;

}

.top_image_container div img {

    margin-top: 0;
    height: 130px;
    width: auto;
}

.top_image_container div span {

    margin-right: 5%;

}


.top_image_container p {

    position: absolute;
    color: black;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 100;

}


.mid_home_container {

    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.mid_home_container div {

    width: 30%;
    height: auto;
    min-height: 200px;
    margin-right: 0.5%;
    margin-left: 0.5%;
    /*box-shadow: 0 2px 8px -2px #000000;*/
    box-shadow: 1px 1px 5px -2px #000000;
    border-radius: 8px;
    min-width: 300px;

}

.mid_home_container div h3, .mid_home_container div p, .mid_home_container div span {

    display: flex;
    justify-content: center;
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    /*flex-direction: column;*/
    text-align: center;
}

.mid_home_container div span {

    padding: 10px;
    font-size: 40px;
    margin-bottom: 5px;

}

.mid_home_container div hr {

    width: 80%;
    height: 5px;

}

.bottom_home_container {

    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.bottom_home_container div {

    width: 10%;
    height: 10%;
    margin-right: 0.5%;
    margin-left: 0.5%;
    box-shadow: 1px 1px 5px -2px #000000;
    min-width: 120px;
    border-radius: 8px;
}

.bottom_home_container div img {


    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    text-align: center;
    display: block;
    justify-content: center;
    vertical-align: middle;
    border-radius: 8px;



}


@media screen and (max-width: 760px) {
  .top_image_container p {

      font-size: 12px;
      margin-top: 5px;
  }
}

@media screen and (max-width: 460px) {
  .top_image_container p {

      font-size: 10px;
      margin: 10px;
  }
}



@media screen and (max-width: 760px) {
  .top_image_container h2 {

      font-size: 16px;
  }
}

@media screen and (max-width: 1000px) {
  .top_image_container h2 {

      font-size: 25px;
  }
}

@media screen and (max-width: 800px) {
  .top_image_container h2 {

      font-size: 20px;
  }
}

@media screen and (max-width: 650px) {
  .top_image_container h2 {

      font-size: 14px;
  }
}

@media screen and (max-width: 1200px) {
  .top_image_container div {

      font-size: 120px;
  }
    .top_image_container div img {

        height: 115px;
    }
}

@media screen and (max-width: 1000px) {
  .top_image_container div {

      font-size: 100px;
  }
    .top_image_container div img {

        height: 100px;
    }
}

@media screen and (max-width: 800px) {
  .top_image_container div {

      font-size: 80px;

  }
    .mid_home_container div {

        width: 100%;
    }
    .top_image_container div img {

        height: 80px;
    }
}

@media screen and (max-width: 650px) {
  .top_image_container div {

      font-size: 60px;

  }
    .top_image_container div img {

        height: 60px;
    }
}

@media screen and (max-width: 580px) {
  .top_image_container div {

      font-size: 40px;

  }
    .top_image_container div img {

        height: 40px;
    }
}



